/* common */
.test {
    /* border: 1px solid #ea6d30; */
    border: 1px solid #ffffff;
}
#main-container-back-img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    
}
/* mobile  css*/
.main-container{
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #111;
    
    flex-direction: row;    
}

.landing-cotainer{
    position: relative;
    display: flex;
    width: 75vw;
    height: 80vh;
    /* background-color: #fcdcc7; */
}

.landing-content-left{
    position: relative;
    display: flex;
    width: 40%;
    height: 100%;    
    overflow: hidden;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    align-items: center;
    justify-content: center;
}

.landing-content-left img {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;    
    filter: brightness(50%);
}

.content-left-div{
    position: relative;
    display: flex;
    width: 85%;
    height: 70%;
    color: aliceblue;
    flex-direction: column;
    border: 1px solid orange;
    overflow: hidden;
    align-items: center;
}

.left-div-span-title{
    position: relative;
    width: 100%;
    height: 25%;
    font-size: 50px;
    font-weight: bold;
    flex: 1;
}
.left-div-span-sub{
    position: relative;
    flex: 1;
    padding-top: 20px;
    font-size: 24px;
}


.landing-content-right{
    position: relative;
    display: flex;
    width: 60%;
    height: 100%;
    background-color:#c6dadb;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
/* deskTop  css*/
@media screen and (min-width: 768px) {


}