body{
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
  background-image: url(../src/images/indexBg.png);
  /* filter: brightness(0.85); */
  font-family: 'gsanLight';
}
#root{
  display: flex;
  width: 1920px;
  /* border: 1px solid red; */
  min-height: 960px;
  flex-direction: column;
}

#root-container{
  display: flex;
  /* border: 2px solid aqua; */
  flex: 1;
  flex-direction: column;
}
#root-section{
  display: flex;
  width: 100%;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
}
/* nav */
.nav{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 60px;
  /* position: absolute; */
}
.logo-container{
  display: flex;
  width: 25%;
  height: 100%;
}
.nav-ul{
  display: flex;
  flex-direction: row;
  width: 65%;
  justify-content: center;
  align-items: center;
}
.nav-ul li{
  display: flex;
  width: 150px;
  height: 100%;
  position: relative;
  float: right;
  margin-left: 5%;
}
.nav-ul li a{
  display: flex;
  flex: 1;
  width: 75px;
  justify-content: center;
  align-items: center;
}

.content-container{
  position: relative;
  display: flex;
  min-width: 1280px;
  min-height: 760px;
  border: 2px solid #2894ff71;
  border-radius: 50px;
  box-shadow: 10px 5px 15px #2894ff71;
  overflow: hidden;
  flex-direction: column;
}

#landing-img{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0.75;
}

#landing {
  position: relative;
  display: flex;
  width: 80%;
  height: 80%;
  justify-content: left;
  align-items: center;
  margin-top: 5%;
  left: 10%;
}
#landing div {
  display: flex;
  width: 900px;
  height: 350px;
  flex-direction: column;
}
#landing h1{
  display: flex;
  flex: 1;
  font-size: 3.5em;
  font-weight: bold;
}
#landing h5{
  display: flex;
  flex: 1;
  font-size: 1em;
  align-items: center;
}

/* boardList */
#boardList-top{
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
}
#boardList-top h1{
  margin: 2%;
  font-weight: bold;
  font-size: 4em;
}
#searchBox{
  display: flex;
  position: relative;
  border: 1px solid #3e9fb2;
  flex-direction: column;
  flex: 1;
}
#searchBox thead{ 
  display: flex;
  position: relative;
  border: aqua 1px solid;
  flex: 1;
}
#searchBox thead tr {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  
}
#searchBox thead tr td{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
#searchBox tbody{ 
  display: flex;
  position: relative;
  flex: 15;
  flex-direction: column;
  min-height: 45px;
}
#boardList-md .blueTr th:nth-child(1){
  display: flex;
  flex: 1;
}
#boardList-md .blueTr th:nth-child(2){
  display: flex;
  flex: 7;
}
#boardList-md .blueTr th:nth-child(3){
  display: flex;
  flex: 1;
}
#boardList-md .blueTr th:nth-child(4){
  display: flex;
  flex: 1;
}
#boardList-md .blueTr th:nth-child(5){
  display: flex;
  flex: 1;
}
#boardList-md .blueTr th:nth-child(6){
  display: flex;
  flex: 1;
}
.blueTr{
  display: flex;
  background-color: #0162a7;
  flex: 2;
  justify-content: center;
  align-items: center;
  max-height: 50px;
}
.blueTr th{
  display: flex;
  flex: 1;
  color: antiquewhite;
  font-weight: bold;
  font-size: 18px;
  justify-content: center;
}
.boardRow{
  display: flex;
  flex: 1;
  background-color: #3e9fb223;
}
#boardList-md .boardRow td:nth-child(1){
  display: flex;
  flex: 1;
  color: red;
  justify-content: center;
  align-items: center;
}
#boardList-md .boardRow td:nth-child(2){
  display: flex;
  flex: 7;
  color: red;
  align-items: center;
}
#boardList-md .boardRow td:nth-child(3){
  display: flex;
  flex: 1;
  color: red;
  justify-content: center;
  align-items: center;
}
#boardList-md .boardRow td:nth-child(4){
  display: flex;
  flex: 1;
  color: red;
  justify-content: center;
  align-items: center;
}
#boardList-md .boardRow td:nth-child(5){
  display: flex;
  flex: 1;
  color: red;
  justify-content: center;
  align-items: center;
}
#boardList-md .boardRow td:nth-child(6){
  display: flex;
  flex: 1;
  color: red;
  justify-content: center;
  align-items: center;
}
#searchBox tbody tr{ 

}
#searchBox tfoot{ 
  display: flex;
  position: relative;
  flex: 1;
}
#boardList-md{
  position: relative;
  display: flex;
  flex: 50;
  justify-content: center;
}
#boardList-bot{
  position: relative;
  display: flex;
  flex: 1;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: rgb(205, 225, 242);
}

.app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input.error {
  border-color: red;
}


.input-feedback {
  color: red;
  height: 5px;
  margin-top: -12px;
} */

/* common */
.flex{
  display: flex;
}
/*
  =============================== font-css ===============================
*/
@font-face {
  font-family: "BMJUA";
  font-weight: 300;
  src: url("../src/fonts/BMJUA_ttf.ttf") format("truetype");
}
@font-face {
  font-family: "SCD3";
  /* font-weight: 300; */
  src: url("../src/fonts/SCDream3.otf") format("opentype");
}
@font-face {
  font-family: "SCD5";
  /* font-weight: 300; */
  src: url("../src/fonts/SCDream5.otf") format("opentype");
}

@font-face{
  font-family: 'gsanBold';
  src : url('../src/fonts/GmarketSansTTFBold.ttf') format("truetype");
}
@font-face{
  font-family: 'gsanLight';
  src : url('../src/fonts/GmarketSansTTFLight.ttf') format("truetype");
}
@font-face{
  font-family: 'gsanMedium';
  src : url('../src/fonts/GmarketSansTTFMedium.ttf') format("truetype");
}