/* common */
.border {
    /* border: 1px solid orangered;     */
}
.flex {
    display: flex;
}
/* boardList-section */
.boardList-section{
    position: relative;
    top: 80px;
    display: flex;
    width: 1280px;
    height: 100vh;    
    justify-content: center;    
    background-color: #111;    
}
.boardList-article-container{
    width: 960px;
    height: 760px;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    flex-direction: column;
}
.boardList-top{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    flex: 2;
}
.boardList-section article{
    position: relative;
    display: flex;
    flex: 1;
    /* width: 100%;
    height: 100%; */
    justify-content: center;
    align-items: center;
}
/* BoardList */
.BoardTable {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.BoardTable thead{    
    display: flex;    
    height: 36px;
    flex: 1;
    flex-direction: column;
}
.BoardTable thead{
    position: relative;
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.BoardTable tbody{    
    display: flex;
    flex-direction: column;
    flex: 4;
    width: 80%;
    height: 100%;
}
.BoardTable tbody tr:first-child{
    display: flex;
    flex: 1;
}
.BoardTable tbody tr:not(:first-child){
    display: flex;
    flex: 2;
}   

.BoardTable tr {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    height: 100%;
    /* border: 1px solid orangered;     */
}

.BoardTable tr td{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    
}

.BoardTable tbody th, .BoardTable tbody td {
    display: flex;
    flex: 1;
    /* border: orangered 1px solid; */
    height: 36px;
    justify-content: center;
    align-items: center;
}
.BoardTable tbody th:not(:nth-child(2)){
    flex: 1;
}
.BoardTable tbody th:nth-child(2){
    flex: 5;
}
.BoardTable tbody tr td:not(:nth-child(2)){
    flex: 1;
}
.BoardTable tbody tr td:nth-child(2){
    flex: 5;
}



.boardList-container{
    display: flex;
    border: 1px solid red;
    flex: 8;
}
.boardList-bot{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    flex: 1;
}
