/* common */
.border {
    /* border: 1px solid orangered;     */
}
.flex {
    display: flex;
}
/* boardList-section */
.boardList-section{
    position: relative;
    top: 80px;
    display: flex;
    width: 1280px;
    height: 100vh;    
    justify-content: center;    
    background-color: #111;    
}
.boardList-section article{
    position: relative;
    display: flex;
    flex: 1;
    /* width: 100%;
    height: 100%; */
    justify-content: center;
    align-items: center;
}
/* BoardList */
.BoardTable {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    height: 100%;
}

.BoardTable thead{    
    display: flex;    
    height: 36px;
}

.BoardTable tbody{    
    display: flex;
    flex-direction: column;
}
.BoardTable tr {
    display: flex;
    flex: 1;
    flex-direction: row;
    /* border: 1px solid orangered;     */
}

.BoardTable th, .BoardTable td {
    display: flex;
    flex: 1;
    /* border: orangered 1px solid; */
    height: 36px;
}



.boardList-container{
    display: flex;
    width: 800px;
    height: 100%;
    border: 1px solid red;
    
}

