/* common */
/* https://colorhunt.co/palette/207335 color palette */
.btn{
    display: flex;
    justify-content: center;
    text-align: center;
    border: none;
}
input {
    outline: none;
}
.signup-section{
    position: relative;
    top: 80px;
    display: flex;
    width: 1280px;
    height: 100vh;    
    justify-content: center;    
    background-color: #111;    
}
.signup-article {
    display: flex;
    width: 80%;
    height: 720px;
    justify-content: center;
    border: 1px solid red;
    flex-direction: row;
    /* margin-top: 10%; */
}
.signup-article-left{
    display: flex;
    flex: 3;
    /* border: 1px solid blue; */
    background-color: #ececec;
}

.signup-article-right{
    display: flex;
    flex: 2;
    /* border: 1px solid yellow; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.signup-form{
    display: flex;
    width: 100%;
    height: 100%;    
    /* border: 1px solid red; */
    flex-direction: column;
}
.signup-form ul {
    list-style-type: none;
}
.signup-form ul li {
    color: #ebebeb;
}
.signup-form-table {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    /* border: 1px solid greenyellow; */
    flex-direction: column;
}

.signup-form-table tr , .signup-form-table td{
    position: relative;
    display: flex;
}
.signup-form-table td input{
    position: relative;
    display: flex;
    width: 80%;
    color: #ebebeb
}
.signup-form-table thead{
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    border: 1p solid #065c6f;
    flex-direction: column;
    justify-content: center;
}
.signup-form-table thead tr {
    font-size: 2em;
    font-weight: bold;
    justify-content: center;
    
}
.signup-form-table thead tr td{
    color: #ebebeb;
    justify-content: center;
}

.signup-form-table tbody{
    position: relative;
    width: 100%;
    height: 60%;
    flex-direction: column;
}

.signup-form-table tr{
    flex-direction: column;
    justify-content: center;    
}

.signup-form-table tbody tr {
    margin-top: 5%;
}

.signup-form-table tbody tr td{
    position: relative;
    flex: 1;    
}
.signup-form-table tbody tr td:first-child{
    color: #ebebeb;
    font-weight: bold;
    justify-content: center;
}
.signup-form-table tbody tr td:last-child{
    color: #ebebeb;
    font-weight: bold;
    padding-left: 5px;
    justify-content: center;
}

.signup-form-table tbody tr td:last-child input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:2px solid  #065c6f; 
    background-color: #111;
}
.signup-form-table tfoot{
    position: relative;
    width: 100%;
    height: 20%;
    flex-direction: column;
}


/* left login-form */
.signup-login-form {
    position: relative;
    display: flex;
    flex-direction: column;    
    width: 100%;
    background-color: #f4f4f4;
}
#login-form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#login-form thead{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
    justify-content: center;
}

#login-form thead tr{
    position: relative;
    display: flex;
    justify-content: center;
    
}

#login-form thead tr th {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    
}

#login-form tbody{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 25%;
    justify-content: center;
    align-items: center;
}

#login-form tbody tr{
    position: relative;
    display: flex;
    margin-bottom: 5%;
    flex-direction: column;
    width: 80%;
    
}
#login-form tbody tr td{
    position: relative;
    display: flex;
    flex: 1;
    font-weight: bold;
    padding-left: 5px;
}
#login-form tbody tr td input{
    position: relative;
    display: flex;
    /* width: 80%; */
    width: 100%;
    background-color: #f4f4f4;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:2px solid  #065c6f; 
    
}
#login-form tfoot{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 15%;
    align-items: center;
    justify-content: center;
}
#login-form tfoot tr{
    position: relative;
    display: flex;
    flex: 1;
    width: 80%;
}
#login-form tfoot td{
    position: relative;
    display: flex;
    flex: 1;
    justify-content: center;    
    color: #6b6b6b;
}

#login-form tfoot td .btn{
    /* font-size: 1.5em; */
    /* background: #000; */
    /* color: #ebebeb; */
    display: flex;
    flex: 1;
    align-items: center;
    margin: 2%;
    cursor: pointer;
    border-radius: 25px;    
}
#login-btn{
    border: 1.5px solid #64958f;
}
#login-btn:hover {
    background-color: #065c6f;
    color: #f4f4f4;
}

#forgot-email{
    border: 1.5px solid #64958f;
}
#forgot-email:hover {
    background-color: #065c6f;
    color: #f4f4f4;
}

#forgot-password{
    border: 1.5px solid #64958f;
}
#forgot-password:hover {
    background-color: #065c6f;
    color: #f4f4f4;
}