* {
    padding: 0px;
    margin: 0px;
}

.NovelDetail-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}
.Novel-article{
    display : flex;
    width: 90%;
    flex-direction: column;
}
.Novel-info {
    display : flex;
    
}
.Novel-info-ul{
    list-style-type: none;
}

/* test */
.test {
    border: 1px solid orangered;
}