* {
    padding: 0px;
    margin: 0px;
}
.BoardDetail-section{
    display: flex;
    width: 100vw;
    height: 90vh;
    justify-content: center;
}

.BoardDetail-artcle {
    display: flex;
    width: 80%;
    height: 80%;
    flex-direction: column;
    background-color: #f4f4f4;

}

.board-container{
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    height: 100%;
}

.board-sideBar{
    display: flex;
    width: 30%;
    height: 100%;
}

.board-sideBar-ul{
    display: flex;
    flex: 1;
    width: 100%;
    height: 30%;
    flex-direction: column;
    list-style-type: none;
}
.board-sideBar-ul li{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.board-content{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.board-info{
    display: flex;
    height: 10%;
}

.board-info-ul{
    display: flex;
    list-style-type: none;
    width: 100%;
    height: 100%;
}

.board-info-ul li{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #FFC7C7;    
    margin-right: 2%;
}
.board-title{
    display: flex;
    height: 10%;
}

.board-text{
    position: relative;
    display: flex;
    width: 80%;
    height: 70%;
    align-self: center;
}
.board-text div{
    position: relative;
    display: flex;
    flex: 1;
}

/* test border */
.test {
    border: 1px solid rgba(0, 0, 255, 0.356)
}

/* react-quill */
.quill {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
}
.quill .ql-toolbar{
    display: flex;
    flex: 2;
}
.quill .ql-container{
    display: flex;
    flex: 8;
}
.quill_readOnly .ql-toolbar{
    display: none;
}